:root {
  --main-width: 4px;
  --main-color: #222;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 1000px;
  margin: 20px auto;
  .game-info {
    display: flex;
    .game-name {
      flex: 1;
    }
    .category {
      flex: 1;
      text-align: right;
      span {
        color: #e91e63;
        text-transform: capitalize;
        font-weight: bold;
      }
    }
  }
  hr {
    border: 1px solid #eee;
  }
  .row {
    display: flex;
    .hangman-draw {
      background-color: #f8f8f8;
      height: 324px;
      padding: 20px;
      flex: 1;
      left: -60px;
      .the-draw {
        width: 60px;
        height: 280px;
        position: relative;
        margin: auto;
        border-bottom: var(--main-width) solid var(--main-color);
        display: none;

        .the-stand {
          position: absolute;
          height: 100%;
          width: 4px;
          background-color: var(--main-color);
          left: 50%;
          top: 0px;
          transform: translateX(-50%);
          display: none;
        }
        .the-hang {
          display: none;

          &::before {
            content: "";
            position: absolute;
            content: "";
            position: absolute;
            width: 100px;
            height: 4px;
            background-color: var(--main-color);
            left: 30px;
            top: 10px;
          }
          &::after {
            content: "";
            position: absolute;
            width: 4px;
            height: 30px;
            background-color: var(--main-color);
            left: 130px;
            top: 10px;
          }
        }
        .the-rope {
          position: absolute;
          width: 70px;
          height: 70px;
          border: 4px dashed var(--main-color);
          border-radius: 50%;
          left: 95px;
          top: 40px;
          display: none;
        }
        .the-man {
          .head {
            position: absolute;
            width: 50px;
            height: 50px;
            border: 4px solid var(--main-color);
            border-radius: 50px;
            left: 105px;
            top: 50px;
            display: none;
          }
          .body {
            position: absolute;
            width: 4px;
            height: 110px;
            background-color: var(--main-color);
            left: 130px;
            top: 100px;
            display: none;
          }
          .hands {
            display: none;
            &::before,
            &::after {
              content: "";
              position: absolute;
              height: 4px;
              width: 50px;
              background-color: var(--main-color);
              left: 130px;
              top: 135px;
              transform: rotate(30deg);
              -webkit-transform: rotate(30deg);
              -moz-transform: rotate(30deg);
              -ms-transform: rotate(30deg);
              -o-transform: rotate(30deg);
            }
            &::after {
              left: 85px;
              transform: rotate(-30deg);
              -webkit-transform: rotate(-30deg);
              -moz-transform: rotate(-30deg);
              -ms-transform: rotate(-30deg);
              -o-transform: rotate(-30deg);
            }
          }
          .legs {
            display: none;
            &::before,
            &::after {
              content: "";
              position: absolute;
              height: 4px;
              width: 50px;
              background-color: var(--main-color);
              left: 85px;
              top: 220px;
              transform: rotate(-30deg);
              -webkit-transform: rotate(-30deg);
              -moz-transform: rotate(-30deg);
              -ms-transform: rotate(-30deg);
              -o-transform: rotate(-30deg);
            }
            &::after {
              left: 130px;
              transform: rotate(30deg);
              -webkit-transform: rotate(30deg);
              -moz-transform: rotate(30deg);
              -ms-transform: rotate(30deg);
              -o-transform: rotate(30deg);
            }
          }
        }
      }
      &.wrong-1 {
        .the-draw {
          display: block;
        }
      }
      &.wrong-2 {
        .the-stand {
          display: block;
        }
      }
      &.wrong-3 {
        .the-hang {
          display: block;
        }
      }
      &.wrong-4 {
        .the-rope {
          display: block;
        }
      }
      &.wrong-5 {
        .the-man {
          .head {
            display: block;
          }
        }
      }
      &.wrong-6 {
        .the-man {
          .body {
            display: block;
          }
        }
      }
      &.wrong-7 {
        .the-man {
          .hands {
            display: block;
          }
        }
      }
      &.wrong-8 {
        .the-man {
          .legs {
            display: block;
          }
        }
      }
    }
    .letters {
      flex: 1;
      text-align: center;
      padding: 20px;
      .letter-box {
        display: inline-block;
        width: 55px;
        height: 55px;
        background-color: #009688;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 55px;
        text-transform: capitalize;
        cursor: pointer;
        font-weight: bold;
        color: #fff;
        &.clicked {
          background-color: var(--main-color);
          opacity: 0.2;
          cursor: no-drop;
        }
      }
    }
  }
  .letters-guess {
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    min-height: 104px;
    display: flex;
    justify-content: center;
    span {
      display: block;
      width: 60px;
      height: 60px;
      background-color: #fdfdfd;
      border-bottom: 3px solid var(--main-color);
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      line-height: 60px;
      transition: 0.3s;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &.has-space {
        border: none;
        background-color: transparent;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 4px;
          background-color: var(--main-color);
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
        }
      }
    }
  }
  .message {
    text-align: center;
    width: fit-content;
    margin: 30px auto 0;
    p {
      font-size: 30px;
      font-weight: bold;
      background-color: #ff0000;
      color: #fff;
      border-radius: var(--main-width);
    }
  }
}
